# Dependencies
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# IDE settings
.vscode/
.idea/
.DS_Store

# Database / storage
*.sqlite

# Coverage
coverage/

# Other
*.tgz
temp/
